
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

body{
    font-family:"Metal Mania",sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shop-geolocalization {
    text-align: center;
    padding: 10px;
    background-color:black;
    color:white;
        option{
        background-color: white;
        color:black;
        cursor: pointer;
        font-size: 1rem;
        font-family: arial;
    }
    margin-bottom: 7px;
}

header{
    top: 0;
    left: 0;
    width: 100%;
  
    z-index: 1000;
    position:fixed;

}
main{
    margin-top: 100px;
    padding: 20px;
    background-color: white;
    justify-items: center;
}
.SearchingLogo {
    width: 30px;
    height: auto;
    }

.parent {
display: grid;
justify-self: center;
grid-template-columns: 1fr 0fr 3fr 0fr 1fr;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
background-color: rgb(247, 75, 7);
 width: 100%;
 
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 3 / 2 / 4; }
.div3 { grid-area: 1 / 5 / 2 / 6; }

.titulo{
    font-size: 4rem;
    color: black;
    font-family: "Metal Mania", sans-serif;
    margin: 0 auto;
    size: fit-content;
    text-align: center;}

.items {
    display: flex;
    align-items: right; 
    padding-right: 20px;
}

.div1 button {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border-color: black;
    background-color: black;
    cursor: pointer;
    margin: 10px;
    border: 1px solid white;
    border-width: 1px;
    transition: color;
    transition-duration: 0.5;
    transition-timing-function: ease;
}
.div1 button:hover {
    background-color: white;
    color: black;
}

.item {
    border: 1px solid rgb(0, 0, 0);
    margin: 5px;
    padding: 10px;
    list-style: none;
    align-items: center;
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
       
.item:hover{
    color: white;
}

.item a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
.item a:hover{
    color:white
}

      .form{
        color: rgb(0, 0, 0);
        font-size: 1rem;
        border: 2px solid rgb(247, 75, 7);;
        padding: 25px 30px;
        border-radius: 15px;
        width: 300px;
        margin:30px;
        align-self: center;
        button {
            background-color: rgb(247, 75, 7);
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 1rem;
            border-radius: 5px;
            font-family: arial;
            transition: color;
            transition-duration: 0.3s;
            transition-timing-function: ease;        
        }
      }
      .form button:hover{
        background-color:  rgb(156, 49, 6);
      }

footer{
    text-align: center;
    background-color: rgb(247, 75, 7);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

.metal-mania-regular {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
  color:white;
}

.galeria {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(1, 1fr);
grid-column-gap: 0px;
}

.galeria-div1 { grid-area: 1 / 1 / 2 / 2; 
margin: 50px;}
.galeria-div2{ grid-area: 1 / 2 / 2 / 3;
margin: 50px;}
.galeria-div3{ grid-area: 1 / 3 / 2 / 4;
margin: 50px; }
.galeria-div4 { grid-area: 1 / 4 / 2 / 5;
margin: 50px; }

.galeria-queue{
display: column;
}

.galeria img {
    margin:10px;
      width: 18rem;
      height: auto;
      border-radius: 8px;
      margin-right: 8px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.15);
      cursor: pointer;
      transition: transform 0.3s ease;
    }
    
.galeria img:hover {
      transform: scale(1.05);
    } 

.dark-mode {
    background-color:black;
    color: #ffffff;
}

.dark-mode button {
    background-color: white;
    color: #ffffff;
    border: 1px solid black;
    border-width: 1px;
}

.dark-mode .shop-geolocalization {
    background-color:white;
    color: black;
}
.dark-mode .titulo {
    color: white;
}

.dark-mode form{
    color: white;
    border: 2px solid rgb(247, 75, 7);
    padding: 25px 30px;
    border-radius: 15px;
    width: 300px;
    margin:30px;
    align-items: center;
  
}

.dark-mode .item {
    border: 1px solid white;
    color: white;
}

.dark-mode .item a {
    color: white;
}   

.dark-mode .parent {
    background-color: rgb(247, 75, 7);
}
.dark-mode form button {
    background-color: rgb(247, 75, 7);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    font-family: arial;        
}
.dark-mode main {
    background-color: black;
    color: white;
}
.dark-mode .div1 button:hover {
 background-color:black;
    color: white;   
}
.dark-mode .item a:hover{
    color: black;
}
