
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

body{
    font-family:"Metal Mania",sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shop-geolocalization {
    text-align: center;
    padding: 10px;
    background-color:black;
    color:white;
        option{
        background-color: white;
        color:black;
        cursor: pointer;
        font-size: 1rem;
        font-family: arial;
    }
    margin-bottom: 7px;
}

header-group {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
}

.SearchingLogo {
    width: 30px;
    height: auto;
    }

.parent {
display: grid;
grid-template-columns: 1fr 0fr 3fr 0fr 1fr;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
background-color: rgb(247, 75, 7);
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 3 / 2 / 4; }
.div3 { grid-area: 1 / 5 / 2 / 6; }

.titulo{
    font-size: 4rem;
    color: black;
    font-family: "Metal Mania", sans-serif;
    margin: 0 auto;
    size: fit-content;
    text-align: center;}

.items {
    display: flex;
    align-items: right; 
}

.div1 button {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border-color: black;
    background-color: black;
    cursor: pointer;
    margin: 10px;
    border: 1px solid white;
    border-width: 1px;
}

.item {
    border: 1px solid rgb(0, 0, 0);
    margin: 5px;
    padding: 10px;
    list-style: none;
    align-items: center;
    position: relative;
}
       
.item a {
    text-decoration: none;
    color: black;
}

      .form{
        color: rgb(0, 0, 0);
        font-size: 1rem;
        border: 2px solid rgb(247, 75, 7);;
        padding: 25px 30px;
        border-radius: 15px;
        width: 300px;
        margin:30px;
        align-items: center;
        button {
            background-color: rgb(247, 75, 7);
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 1rem;
            border-radius: 5px;
            font-family: arial;        
        }
      }

footer{
    text-align: center;
    background-color: rgb(247, 75, 7);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

.metal-mania-regular {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
  color:white;
}

.galeria {
    margin: 20px;
      display: column;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;
      justify-self: justify;
    }

.galeria img {
      width: 20rem;
      height: auto;
      border-radius: 8px;
      margin-right: 8px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.15);
      cursor: pointer;
      transition: transform 0.3s ease;
      
    }
    
.galeria img:hover {
      transform: scale(1.05);
    } 

.dark-mode {
    background-color:black;
    color: #ffffff;
}

.dark-mode button {
    background-color: white;
    color: #ffffff;
    border: 1px solid black;
    border-width: 1px;
}

.dark-mode .shop-geolocalization {
    background-color:white;
    color: black;
}
.dark-mode .titulo {
    color: white;
}

.dark-mode form{
    color: white;
    border: 2px solid rgb(247, 75, 7);
    padding: 25px 30px;
    border-radius: 15px;
    width: 300px;
    margin:30px;
    align-items: center;
  
}

.dark-mode .item {
    border: 1px solid white;
    color: white;
}

.dark-mode .item a {
    color: white;
}   

.dark-mode .parent {
    background-color: rgb(247, 75, 7);
}
.dark-mode form button {
    background-color: rgb(247, 75, 7);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    font-family: arial;        
}